.sentmail {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--textFont);
    color: var(--textColor);
    flex-direction: column;
}

.sentmail h4 {
    width: 50%;
    
}