
section {
 margin-bottom: 60px;   
}

@media screen and (max-width: 768px) {
    section{
      margin-bottom: 30px;
    }
}




.section-title {
    font-weight: 400;
    font-family: var(--secondaryFont);
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.4px;
    color: #5e543c; 
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .section-title {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
}

.ikonostas {
    width: 100%;
    height: 75vh;
    max-height: 500px;
    overflow: hidden;
    background-color: #efefef;
}

.ikonostas img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .ikonostas {
        height: auto;
    }
}


.welcome {
   font-family: var(--secondaryFont);
   display: flex;
   align-items: center;
}

@media screen and (max-width: 768px) {
    .welcome {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        width: 100%;
    }
}


.welcome-title {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid #5e543c;
    text-align: center;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .welcome-title {
        font-size: 6vw;
        margin-top: 10px;
    }
}

.welcome-text {
   width: 70%;
   color: #5e543c; 
   text-align: center;
}

@media screen and (max-width: 768px) {
    .welcome-text {
        width: 100%;
    }
}
.welcome-text p {
    line-height: 30px;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .welcome-text p {
        line-height: 20px;
        font-size: 14px;
    }  
}

.welcome-image-wrapper {
    width: 30%;
}

@media screen and (max-width: 768px) {
.welcome-image-wrapper {

    display: none;
    }
  }


.welcome-image-wrapper img{
    width: 90%;
}

.carousel-root {
    width: 90% !important;
    
    margin: 0 auto;
    border: 7px solid #9b9b9b;
    padding: 20px;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .carousel-root {
        width: 100% !important;
        padding: 0;
        border: none;
    }
}

.slide-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: var(--decorativeFont);
    
}

@media screen and (max-width: 768px) {
    .slide-container {
        width: 100%;
        height: 100%;
        
    }
}

.slideimagecontainer {
    width: 70%;
}



@media screen and (max-width: 768px) {
    .slideimagecontainer {
        width: 100%;
        height: 100%;
    }
}

.slideimagecontainer img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .slideimagecontainer img {
       width: 100%; 
       height: 100%;
       
    }
}







.caption {
    padding: 10px 35px;
    width: 30%;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-family: var(--secondaryFont);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .caption {
        display: none;
    }
}

.caption h4 {
    text-transform: uppercase;
    color: #8e6b00;
    margin-bottom: 10px;
}

.caption p{
    color: #000;
    font-weight: 600;
} 

.carousel.carousel-slider .control-arrow:hover {
    background-color: transparent !important;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
}
















