

.basket-form-wrapper {
    padding: 0 20px;
    width: 100%;
    font-family: var(--textFont);
}

.basket-form-section {
    width: 50%;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .basket-form-section {
        width: 100%;
    }
}

.basket {
    width: 85%;
    margin: 0 auto;
    font-family: var(--textFont);
    color: #000;
    letter-spacing: 1.3px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 60px;
}

.basket-image {
    width: 80%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}




.items {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 40px;
    
} 


.items td  {
    padding:  10px;
}

.items thead th {
    padding: 10px;
    
}

.deletebutton-cell {
    width: 1%;
    color: rgba(112, 112, 112, 0.4);
}



.deletebutton-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px  rgba(112, 112, 112, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.deletebutton-circle:hover {
    cursor: pointer;
    color: #000;
    border: solid 1px  #000;
}

.deletebutton-circle .fa, .fas {
    font-weight: 600;
    font-size: 10px;
}

.basket-icon-name {
    text-align: right;
}

.basket-icon-name a {
    font-family: var(--textFont);
    color: #000;
    letter-spacing: 1.3px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.quantity-buttons-cell {
    color: rgba(112, 112, 112, 0.4);
}

.quantity-buttons-wrapper {
    width: 100px;
    border: var(--borderStyle);
    color: #000;
    display: flex;
    justify-content: space-between;
}
.quantity-buttons-wrapper span {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}

.quantity-buttons-wrapper button {
    border: none;
    background-color: transparent;
}

.quantity-buttons-wrapper span:not(:last-of-type) {
    border-right: inherit;
}

.basket-icon-name a:hover {
    color: #8f7e4f;
    transition: 0.4s ease;
}



.image-cell {
    width: 13%;
}

.items thead {
    border:  var(--borderStyle);
    font-size: 14px;
    color: rgb(68,68,68);
    font-weight: 600;
}
.items tbody tr {
    border-left: var(--borderStyle);
    border-right: var(--borderStyle);
    border-bottom: var(--borderStyle);
}

.items thead tr {
    background-color: #e2dddd;
    text-transform: uppercase;
}

 





.form-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: rgb(68,68, 68);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.form-title:before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 75%;
    background-color: var(--goldenColor);
    top: 50%;
                            ;
}

.form-title:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    left: 75%;
    right: 0;
    top: 50%;
    background-color: var(--goldenColor);                       ;
}

@media screen and (max-width: 768px) {
    .form-title:after, .form-title:before {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .form-title {
        margin-bottom: 15px
    }
}

.form-field{
    margin-bottom: 15px;
}



form input, form textarea {
    display: block;
    width: 100%;
    border: var(--borderStyle);

}

input::placeholder, textarea::placeholder {
    color: rgba(68,68, 68, 0.5);
    font-size: 14px;
    font-family: var(--textFont);
}

textarea {
    padding: 7px 0 7px 7px;
    color: rgb(68,68, 68);
    font-family: var(--textFont);
}

.basketForm input {
    margin-bottom: 5px;
    padding: 10px 0 7px 10px;
    color: rgb(68,68, 68);
}

input:focus, textarea:focus {
   outline: none;
}

.basket-form-section label {
   display: block;
   margin-bottom: 5px;
   color: rgb(68,68, 68);
}

.basketform-error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.total-price {
    padding: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: var(--borderStyle);
    border-left: var(--borderStyle);
    border-right: var(--borderStyle);
}

.form-title-checkout {
    margin-top: 50px;
}

.total-price-checkout {
    border-left: none;
    border-right: none;
    text-align: left;
    padding: 20px 0;
    margin: 20px 0;
    border-top: var(--borderStyle);
    border-bottom: var(--borderStyle);
    
}


.empty-basket {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--textColor);
    font-size: 30px;
    height: calc(100vh - 243px);
    font-family: var(--textFont);
}

.empty-page {
    height: calc(100vh - 283px);
}

/*mobile view basket*/

.mobile-view-basket {
    margin: 20px 0;
}

.mobile-view-items {
    width: 100%;
    
    
}

.mobile-items-wrapper {
    margin-bottom: 30px;
    border: var(--borderStyle);
}

.mobile-view-item {
    border-bottom: var(--borderStyle);
    padding: 10px 20px;
    
}

.mobile-view-item .image-cell {
    width: 30%;
}

.mobile-view-item .basket-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.mobile-view-item:last-of-type, .mobile-view-item:first-of-type {
    border: none;
}

.mobile-view-basket-footer {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.mobile-view-basket-footer button {
    margin-bottom: 0;
}

.item-name, .mobile-view-total {
    font-weight: 600;
}

.mobile-view-total {
    font-size: 18px;
}

.mobile-view-item .remove-icon-button {
    background: transparent;
    border: var(--borderStyle);
    padding: 5px;
    color: #7e7e7e;
    font-size: 12px;
    
}

.conditions-section {
    width: 35%;
    font-family: var(--textFont);
    color: rgb(68,68, 68);
    margin-right: 20px;
}
 
.conditions-section h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

 
.conditions-section p {
    margin-left: 15px;
    line-height: 1.5;
    color: var(--textColor);
}

@media screen and (max-width: 768px) {
    .conditions-section {
        display: none;
    }
}

.rule {
    margin-bottom: 20px;
}









