/* -- global styles -- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.app {
  width: 100%;
 
}

:root {
  --borderStyle: 1px solid rgba(112, 112, 112, 0.4);
  --textColor: rgb(54, 53, 53);
  --decorativeColor: #8F7E50;
  --goldenColor: #8e6b00;
  --primaryFont: 'Cousine', monospace, Tahoma, sans-serif;
  --decorativeFont: 'Poiret One', Tahoma, sans-serif;
  --secondaryFont: 'Comfortaa', Tahoma, sans-serif;
  --textFont: 'Fira Sans', sans-serif, Tahoma;
  --mainTransition: all 0.5s linear;
}

.container {
  width: 95%;
  min-height: 50vh;
  margin: 0 auto;

}

.flex {
  display: flex;
  justify-content: space-between;

}




button:hover {
  cursor: pointer;
}


button {
  border: none;
  outline: none;
}



ul {
  list-style: none;
}



a {
  text-decoration: none;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolder {
  color: var(--textColor);
  font-weight: bold;
}

select {
  background-color: #fff;
}